<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'qtable_app/main.css'%}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body class="d-flex text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">QTable</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0{% if request.path|length <= 3 %} active{% endif %}"
                   aria-current="page" href="{% url 'qtable_app:index' %}">
                    Home
                </a>
                <a class="nav-link fw-bold py-1 px-0{% if 'quotes' in request.path %} active{% endif %}"
                   href="{% url 'qtable_app:quotes' 1 %}">List</a>
                {% if user.is_authenticated %}
                <a class="nav-link fw-bold py-1 px-0{% if 'favorites' in request.path %} active{% endif %}"
                   href="{% url 'qtable_app:favorites' %}">Favorites</a>
                <form class="ms-3" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="nav-link fw-bold py-1 px-0{% if 'logout' in request.path %} active{% endif %}"
                            type="submit">Log out</button>
                </form>
                {% else %}
                <a class="nav-link fw-bold py-1 px-0{% if 'signup' in request.path %} active{% endif %}"
                   href="{% url 'users:signup' %}">Sign up</a>
                <a class="nav-link fw-bold py-1 px-0{% if 'login' in request.path %} active{% endif %}"
                   href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="px-3">
        {% block content %}{% endblock %}
    </main>
    <footer class="mt-auto pt-5 text-white-50">
        <p>Made by <a href="https://github.com/GodVov4/" class="text-white">GodVov4</a>.</p>
    </footer>
</div>
</body>
</html>